.load-btn {
    padding: 20px 30px;
    border: none;
    background: #ffb479;
    border-radius: 4px;
    display: block;
    margin: 30px auto;
    cursor: pointer;
}

.animals-list {
    display: block;
    margin: 0 auto;
    padding: 0;
}

.animals-list li {
    list-style: none;
    padding: 10px 0;
    text-align: center;
}